.advantages__button {
  width: 175px;
  height: 60px;
  font-weight: 700;
  color: var(--light);
}

.about {
  margin-bottom: 104px;
}

.about__heading {
  color: #333;
  margin-bottom: 19px;
}

.about__text {
  margin-top: 0;
  max-width: 1240px;
  line-height: 32px;
  margin-bottom: 47px;
}

.about__details {
  display: flex;
}

.about__brake-desktop {
  display: block;
}

.details__left {
  display: flex;
  align-items: flex-end;
  width: 49%;
  margin-right: 33px;
  background: url(../img/worker.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.details__heading {
  margin-bottom: 6px;
}

.worker-pic-shadow {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 50px;
  padding-right: 49px;
  padding-bottom: 52px;
  padding-top: 54px;
}

.worker-picture__text {
  margin: 0;
  width: 493px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.details__right {
  width: 49.2%;
}
.details__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #cacaca;
  padding: 64px 90px;
  padding-left: 300px;
  background-position: 59px 64px;
  background-repeat: no-repeat;
}
.details__item--cube {
  background-image: url(../img/cube-desktop.svg);
  margin-bottom: 31px;
}
.details__item--settings {
  padding-top: 63px;
  background-image: url(../img/settings-desktop.svg);
}

.item__decription {
  max-width: 452px;
  line-height: 33px;
  color: #333;
  margin-top: 0;
}

.option {
  margin: 0;
}

@media (max-width: 1500px) {
  .about {
    margin-bottom: 0;
  }

  .advantages__button {
    margin-top: -4px;
    width: 175px;
    height: 60px;
    align-self: center;
    color: var(--light);
  }

  .about__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .about__heading {
    width: 100%;
  }

  .about__details {
    flex-wrap: wrap;
    width: 100%;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__left {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .worker-pic-shadow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 50px;
  }
  .worker-picture__text {
    width: 450px;
  }
  .details__right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .details__item {
    width: 49.2%;
  }
  .details__item--cube {
    padding: 50px 50px;
    padding-left: 205px;
    background-position: 10px 71px;
    margin-bottom: 0;
    margin-right: 50px;
  }
  .details__item--settings {
    padding: 35px 45px;
    padding-left: 205px;
    padding-bottom: 20px;
    background-position: 10px 55px;
  }
}

@media (max-width: 1042px) {
  .about {
    margin-bottom: 0;
  }

  .advantages__button {
    width: 175px;
    height: 60px;
    font-weight: 700;
    color: var(--light);
  }

  .about__container {
    width: 100%;
  }
  .about__text {
    width: 100%;
    margin-bottom: 61px;
  }

  .about__heading {
    margin-bottom: 7px;
  }

  .about__details {
    margin-bottom: 0;
  }

  .about__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .details__heading {
    margin-bottom: 6px;
  }

  .worker-pic-shadow {
    width: 100%;
    padding-top: 52px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 48px;
  }

  .worker-picture__text {
    width: 59%;
    margin: 0;
    margin-right: 56px;
    line-height: 32px;
  }

  .details__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .details__item {
    flex-direction: column;
    width: 100%;
    border: 1px solid #cacaca;
  }

  .details__item--cube {
    padding: 64px 140px;
    margin-bottom: 31px;
    margin-right: 0;
    background-image: url(../img/cube-phablet.svg);
    background-position: 76px 56px;
    background-repeat: no-repeat;
    background-size: 190px 183px;
    padding-right: 127px;
    padding-left: 315px;
  }

  .details__item--settings {
    padding: 64px 140px;
    margin-bottom: 84px;
    margin-right: 0;
    background-image: url(../img/settings.svg);
    background-position: 76px 56px;
    background-repeat: no-repeat;
    background-size: 190px 179px;
    padding-right: 127px;
    padding-left: 315px;
  }
}

@media (max-width: 784px) {
  .about {
    margin-bottom: 0;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__container {
    max-width: 768px;
  }

  .details__item {
    width: 100%;
    //max-width: 668px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30px 48px;
    background-size: 115px 140px;
    border: 1px solid #cacaca;
    padding-top: 33px;
    padding-bottom: 69px;
    padding-right: 25px;
    padding-left: 178px;
  }

  .item__decription {
    max-width: 452px;
    margin-right: 0;
  }

  .details__heading {
    margin-bottom: 6px;
  }

  .details__left {
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 652px;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .details__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .details__item--cube {
    margin-bottom: 31px;
    margin-right: 0;
    background-image: url("../img/cube-phablet.svg");
    background-position: 18px 67px;
    background-repeat: no-repeat;
    background-size: 156px 99px;
    padding: 34px 140px;
    padding-right: 40px;
    padding-left: 169px;
  }

  .details__item--settings {
    margin-bottom: 83px;
    background-position: 18px 67px;
    background-repeat: no-repeat;
    background-size: 156px 99px;
    padding-bottom: 32px;
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 169px;
  }

  .advantages__button {
    width: 175px;
    height: 60px;
    font-weight: 700;
    color: var(--light);
  }

  .about__container {
    width: 100%;
  }

  .about__text {
    width: 100%;
    margin-bottom: 57px;
  }

  .about__heading {
    margin-bottom: 7px;
  }

  .about__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
  }

  .worker-pic-shadow {
    width: 100%;
    padding-top: 36px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 32px;
  }

  .worker-picture__text {
    width: 61%;
    margin: 0;
    margin-right: 56px;
    line-height: 32px;
  }
}

@media (max-width: 615px) {
  .about {
    margin-bottom: 0;
  }

  .advantages__button {
    padding-bottom: 2px;
    width: 162px;
    height: 40px;
    border: 2px solid var(--orange);
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: var(--orange);
  }

  .about {
    width: 100%;
  }

  .about__container {
    width: 100%;
  }

  .about__heading {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .about__text {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    margin-bottom: 14px;
  }

  .about__details {
    width: 100%;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-bottom: 0;
    height: 200px;
  }

  .details__right {
    margin-top: 202px;
    margin-bottom: 61px;
  }

  .details__heading {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .details__item {
    display: flex;
    flex-direction: column;
    background-position: top;
    padding-top: 91px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border: none;
  }

  .details__item--cube {
    margin-bottom: 31px;
    margin-right: 0;
    background-image: url("../img/cube-mobile.svg");
    background-size: 63px 55px;
    background-position: 0px 25px;
  }

  .details__item--settings {
    padding-top: 62px;
    background-image: url("../img/settings-mobile.svg");
    background-size: 63px 55px;
    background-position: 0px -3px;
  }

  .option {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .worker-pic-shadow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 206px;
    padding-right: 0;
    padding-left: 0;
    background: 0 0;
    padding-left: 0;
  }

  .worker-picture__text {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 13px;
    padding-top: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
  }

  .item__decription {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
  }
}
