.advantages__button {
  width: 175px;
  height: 60px;
  font-weight: 700;
  color: var(--light);
}

.about {
  margin-bottom: 104px;
}

.about__heading {
  margin-bottom: 19px;
  color: #333;
}

.about__text {
  margin-top: 0;
  max-width: 1240px;
  margin-bottom: 47px;
  line-height: 32px;
}

.about__details {
  display: flex;
}

.about__brake-desktop {
  display: block;
}

.details__left {
  display: flex;
  align-items: flex-end;
  width: 49%;
  margin-right: 33px;
  background: url("../img/worker.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.details__heading {
  margin-bottom: 6px;
}

.worker-pic-shadow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 49px;
  padding-bottom: 52px;
  padding-top: 54px;
  background: rgba(0, 0, 0, 0.5);
}

.worker-picture__text {
  margin: 0;
  width: 493px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.details__right {
  width: 49.2%;
}

.details__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 64px 90px;
  padding-left: 300px;
  border: 1px solid #cacaca;
  background-position: 59px 64px;
  background-repeat: no-repeat;
}
.details__item--cube {
  margin-bottom: 31px;
  background-image: url("../img/cube-desktop.svg");
}
.details__item--settings {
  padding-top: 63px;
  background-image: url("../img/settings-desktop.svg");
}

.item__decription {
  margin-top: 0;
  max-width: 452px;
  line-height: 33px;
  color: #333;
}

.option {
  margin: 0;
}

@media (max-width: 1500px) {
  .about {
    margin-bottom: 0;
  }

  .advantages__button {
    width: 175px;
    height: 60px;
    font-weight: 700;
    color: var(--light);
  }

  .about__container {
    width: 100%;
  }

  .about__text {
    width: 100%;
    margin-bottom: 61px;
  }

  .about__heading {
    margin-bottom: 7px;
  }

  .about__details {
    margin-bottom: 0;
  }

  .about__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__left {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 640px;
    margin-bottom: 32px;
    margin-right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .details__heading {
    margin-bottom: 6px;
  }

  .worker-pic-shadow {
    width: 100%;
    padding-top: 52px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 48px;
  }

  .worker-picture__text {
    width: 59%;
    margin: 0;
    margin-right: 56px;
    line-height: 32px;
  }

  .details__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .details__item {
    flex-direction: column;
    width: 100%;
    min-height: 296px;
    border: 1px solid #cacaca;
  }

  .details__item--cube {
    margin-bottom: 31px;
    margin-right: 0;
    padding: 64px 140px;
    padding-right: 127px;
    padding-left: 315px;
    background-image: url("../img/cube-phablet.svg");
    background-position: 76px 56px;
    background-repeat: no-repeat;
    background-size: 190px 183px;
  }

  .details__item--settings {
    margin-bottom: 84px;
    margin-right: 0;
    padding: 64px 140px;
    padding-right: 127px;
    padding-left: 315px;
    background-image: url("../img/settings.svg");
    background-position: 76px 56px;
    background-repeat: no-repeat;
    background-size: 190px 179px;
  }
}

@media (max-width: 1042px) {
  .about {
    margin-bottom: 0;
  }

  .advantages__button {
    width: 175px;
    height: 60px;
    font-weight: 700;
    color: var(--light);
  }

  .about__container {
    width: 100%;
  }

  .about__text {
    width: 100%;
    margin-bottom: 61px;
  }

  .about__heading {
    margin-bottom: 7px;
  }

  .about__details {
    margin-bottom: 0;
  }

  .about__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__left {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 640px;
    margin-bottom: 32px;
    margin-right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .details__heading {
    margin-bottom: 6px;
  }

  .worker-pic-shadow {
    width: 100%;
    padding-top: 52px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 48px;
  }

  .worker-picture__text {
    width: 59%;
    margin: 0;
    margin-right: 56px;
    line-height: 32px;
  }

  .details__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .details__item {
    flex-direction: column;
    width: 100%;
    border: 1px solid #cacaca;
  }

  .details__item--cube {
    margin-bottom: 31px;
    margin-right: 0;
    padding: 64px 140px;
    padding-right: 127px;
    padding-left: 315px;
    background-image: url("../img/cube-phablet.svg");
    background-position: 76px 56px;
    background-repeat: no-repeat;
    background-size: 190px 183px;
  }

  .details__item--settings {
    margin-bottom: 84px;
    margin-right: 0;
    padding: 64px 140px;
    padding-right: 127px;
    padding-left: 315px;
    background-image: url(../img/settings.svg);
    background-position: 76px 56px;
    background-repeat: no-repeat;
    background-size: 190px 179px;
  }
}

@media (max-width: 890px) {
  .about {
    margin-bottom: 0;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__container {
    max-width: 768px;
  }

  .details__item {
    width: 100%;
    min-height: 235px;
    display: flex;
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 69px;
    padding-right: 25px;
    padding-left: 178px;
    border: 1px solid #cacaca;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 30px 48px;
    background-size: 115px 140px;
  }

  .item__decription {
    max-width: 452px;
    margin-right: 0;
  }

  .details__heading {
    margin-bottom: 6px;
  }

  .details__left {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 652px;
    margin-bottom: 32px;
    margin-right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .details__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .details__item--cube {
    margin-bottom: 31px;
    margin-right: 0;
    padding: 34px 140px;
    padding-right: 40px;
    padding-left: 169px;
    background-image: url("../img/cube-phablet.svg");
    background-position: 18px 67px;
    background-repeat: no-repeat;
    background-size: 156px 99px;
  }

  .details__item--settings {
    margin-bottom: 83px;
    padding-bottom: 32px;
    padding-top: 35px;
    padding-right: 40px;
    padding-left: 169px;
    background-position: 18px 67px;
    background-repeat: no-repeat;
    background-size: 156px 99px;
  }

  .advantages__button {
    width: 175px;
    height: 60px;
    font-weight: 700;
    color: var(--light);
  }

  .about__container {
    width: 100%;
  }

  .about__text {
    width: 100%;
    margin-bottom: 57px;
  }

  .about__heading {
    margin-bottom: 7px;
  }

  .about__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
  }

  .worker-pic-shadow {
    width: 100%;
    padding-top: 36px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 32px;
  }

  .worker-picture__text {
    width: 61%;
    margin: 0;
    margin-right: 52px;
    line-height: 32px;
  }
}

@media (max-width: 615px) {
  .about {
    margin-bottom: 0;
  }

  .advantages__button {
    padding-bottom: 2px;
    width: 162px;
    height: 40px;
    border: 2px solid var(--orange);
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: var(--orange);
  }

  .about {
    width: 100%;
  }

  .about__container {
    width: 100%;
  }

  .about__heading {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .about__text {
    margin-bottom: 14px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
  }

  .about__details {
    width: 100%;
  }

  .about__brake-desktop {
    display: none;
  }

  .details__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-bottom: 0;
    height: 200px;
  }

  .details__right {
    margin-top: 202px;
    margin-bottom: 61px;
  }

  .details__heading {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .details__item {
    display: flex;
    flex-direction: column;
    padding-top: 91px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border: none;
    background-position: top;
  }

  .details__item--cube {
    margin-bottom: 31px;
    margin-right: 0;
    background-image: url("../img/cube-mobile.svg");
    background-size: 63px 55px;
    background-position: 0px 25px;
  }

  .details__item--settings {
    padding-top: 62px;
    background-image: url("../img/settings-mobile.svg");
    background-size: 63px 55px;
    background-position: 0px -3px;
  }

  .option {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .worker-pic-shadow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 206px;
    padding-right: 0;
    padding-left: 0;
    background: 0 0;
    padding-left: 0;
  }

  .worker-picture__text {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 13px;
    padding-top: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
  }

  .item__decription {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
  }
}

@media (max-width: 400px) {
  .details__item {
    margin-bottom: 30px;
  }

  .details__right {
    margin-top: 202px;
    margin-bottom: 30px;
  }
}
