* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: var(--drak);
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.link {
  color: var(--dark);
  transition: color 0.2s ease;
}

.link:hover,
.link:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--orange);
  color: var(--dark);
  line-height: 16px;
  outline-color: var(--orange);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.link:active {
  color: var(--red);
  border-bottom: 2px solid var(--red);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}
