.button {
  padding: 19px 38px;
  border: 1px solid var(--dark);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: var(--light);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.button:hover,
.button:focus {
  color: var(--light);
  background-color: var(--grey);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.button:active {
  background-color: var(--dark);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-fill {
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--light);
  background-color: var(--orange);
  outline-color: var(--orange);
  transition: background-color 0.2s ease, outline-color 0.2s ease;
}

.button-fill:hover,
.button-fill:focus {
  background-color: var(--light-orange);
  outline-color: var(--light-orange);
  cursor: pointer;
  transition: background-color 0.2s ease, outline-color 0.2s ease;
}

.button-fill:active {
  background-color: var(--red);
  cursor: pointer;
}

.button-transparent {
  border: 3px solid var(--orange);
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: transparent;
  transition: color 0.2s ease, background-color 0.2s ease,
    outline-color 0.2s ease;
}

.button-transparent:hover,
.button-transparent:focus {
  color: var(--light);
  background-color: var(--orange);
  outline-color: var(--orange);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease,
    outline-color 0.2s ease;
}

.button-transparent:active {
  border: 3px solid var(--red);
  background-color: var(--red);
  cursor: pointer;
  transition: border 0.2s ease, background-color 0.2s ease;
}
