/* @media (max-width: 575px) {
  .container {
    margin: 0px 15px;
    min-width: 320px;
  }
} */

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    width: 290px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: 0px auto;
    padding: 0 48px;
    width: 768px;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .container {
    margin: 0px auto;
    padding: 0 50px;
    width: 924px;
  }
}

@media (min-width: 1920px) {
  .container {
    margin: 0px auto;
    width: 1770px;
  }
}
