@media (min-width: 1871px) {
  .container {
    margin: 0px auto;
    width: 1770px;
  }
}

@media (max-width: 1870px) {
  .container {
    margin: 0px auto;
    padding: 0 50px;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 1500px;
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 52px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin: 0;
  }
}

@media (max-width: 615px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}
