.faq {
  margin-bottom: 100px;
}

.faq__question {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
}

.faq__menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 80px;
}

.faq__question:not(:first-child) {
  border-top: none;
}

.faq__answer {
  display: none;
}

.answer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.answer__text:not(:last-child) {
  margin-bottom: 40px;
}

.faq__question--active .faq__answer {
  display: block;
  margin-bottom: 40px;
}

.faq__button {
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: url("../img/cross.svg") center center no-repeat var(--grey-circle);
  transform: translate(0, 50%);
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.faq__question--active .faq__button {
  transform: translate(0, 50%) rotate(45deg);
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) and (max-width: 1919px) {

}

@media (min-width: 1920px) {
  .faq__level-3 {
    margin: 0;
    margin-bottom: 37px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    line-height: 59px;
    color: var(--dark);
  }

  .faq__level-4 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--dark);
  }

  .faq__question {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .faq__answer {
    padding-top: 30px;
  }
}





