@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Montserrat;
  font-display: swap;
  src: local("Montserrat"),
    url("../fonts/Montserrat-regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat;
  font-display: swap;
  src: local("Montserrat bold"),
    url("../fonts/Montserrat-bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: Montserrat;
  font-display: swap;
  src: local("Montserrat semi-bold"),
    url("../fonts/Montserrat-semi-bold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: Montserrat;
  font-display: swap;
  src: local("Montserrat extra-bold"),
    url("../fonts/Montserrat-extra-bold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}
