.footer {
  background-color: var(--bg-footer);
}

.footer__inner {
  display: flex;
  color: var(--grey-border);
}

.footer__footer-advantage {
  max-width: 320px;
}

.footer-breadcrumbs {
  padding: 0;
  margin: 0;
}

.footer__footer-socials {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-socials {
  display: inline-block;
  margin-right: 20px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.footer-socials:last-child {
  margin-right: 0;
}

.footer-socials:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.footer-socials__link {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.footer-socials__link--facebook {
  background: url("../img/fb.svg") center center / cover no-repeat;
}

.footer-socials__link--vk {
  background: url("../img/vk.svg") center center / cover no-repeat;
}

.footer-socials__link--instagram {
  background: url("../img/instagram.svg") center center / cover no-repeat;
}

.footer__heading {
  color: var(--grey-border);
}

.footer__button {
  width: 269px;
  height: 60px;
}

.footer-link {
  color: var(--grey-border);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.footer-link:hover,
.footer-link:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--orange);
  color: var(--grey-border);
  line-height: 16px;
  outline-color: var(--orange);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

.footer-link:active {
  border-bottom: 2px solid var(--red);
  color: var(--red);
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

@media (max-width: 767px) {
  .footer__inner {
    flex-direction: column;
    padding-top: 39px;
    padding-bottom: 24px;
  }

  .footer__footer-advantage {
    display: none;
  }

  .footer__footer-nav {
    display: none;
  }

  .footer__about {
    order: 2;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__inner {
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .footer__footer-advantage {
    display: none;
  }

  .footer__footer-nav {
    display: none;
  }

  .footer__about {
    order: 2;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .footer__inner {
    padding-top: 47px;
    padding-bottom: 80px;
  }

  .footer__footer-advantage {
    display: none;
  }
}

@media (min-width: 1920px) {
  .footer__inner {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .footer__about {
    margin-right: 283px;
  }

  .footer-breadcrumbs {
    margin: 0;
    padding: 0;
    min-width: 317px;
  }

  .footer__logo {
    margin-bottom: 14px;
  }

  .footer-breadcrumbs__item {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
  }

  .footer__footer-nav {
    margin-bottom: 104px;
  }

  .footer-socials {
    margin-right: 25px;
  }

  .footer-socials__link {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }

  .footer-socials__link--facebook {
    background: url(../img/fb.svg) center center / cover no-repeat;
  }

  .footer__form {
    padding-top: 10px;
    margin-right: 237px;
    width: 570px;
  }

  .footer-advantage {
    margin: 0;
  }

  .footer__footer-advantage {
    padding-top: 79px;
    max-width: 359px;
  }
}
