.form {
  /* display: flex;
  flex-direction: column; */
}

.input {
  padding: 14px 24px;
  margin-bottom: 25px;
  width: 100%;
  min-height: 60px;
  border: none;
  background-color: var(--bg-input);
}

.input:focus,
.input:active {
  border: 2px solid var(--orange);
  outline: none;
}

.input::placeholder {
  vertical-align: middle;
  color: var(--grey-border);
}

.textarea {
  padding: 7px 24px;
  padding-top: 30px;
  margin-bottom: 25px;
  width: 100%;
  min-height: 60px;
  border: none;
  background-color: var(--bg-input);
  resize: none;
}

.textarea:focus,
.textarea:active {
  border: 2px solid var(--orange);
  outline: none;
}

.textarea::placeholder {
  vertical-align: middle;
  color: var(--grey-border);
}

.form__check {
  display: inline-block;
  margin-bottom: 10px;
  user-select: none;
  text-align: left;
}

.form__check input {
  opacity: 0;
}

.form__check span {
  color: var(--grey-border);
  position: relative;
  width: 100%;
  display: inline-block;
  padding-left: 20px;
}

.form__check input:checked ~ span::after {
  opacity: 1;
  transition: opacity 0.3s;
}

.form__check span::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 8px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid var(--grey-border);
}

.form__check span::after {
  content: "\2714";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 14px;
  height: 14px;
  color: var(--green);
  opacity: 0;
  transition: opacity 0.3s;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
  .form {
    position: relative;
  }

  .textarea {
    padding: 7px 24px;
    padding-top: 23px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 150px;
  }

  .form__check {
    position: absolute;
    bottom: 4px;
    right: -19px;
  }
}
