.swiper-slide__slide1 {
  background: url("../img/slide-1-desktop.jpg") center center / cover no-repeat;
}

.swiper-slide__slide2 {
  background: url("../img/slide-2-desktop.jpg") center center / cover no-repeat;
}

.swiper-slide__slide3 {
  background: url("../img/slide-3-desktop.jpg") center center / cover no-repeat;
}

.promo {
  margin: 0 auto;
  padding: 0 15px;
}

.promo__container {
  /* position: absolute; */
  /* top: 100px;
  left: 40px;
  z-index: 100; */
}

.promo__heading {
  margin: 0;
  color: var(--light);
  font-weight: 800;
}

.promo__text {
  margin: 0;
  color: var(--light);
}

.swiper-wrapper {
  margin: 0;
  padding: 0;
}

.swiper-pagination {
  position: relative;
  bottom: 25px !important;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-left: 0 !important;
  margin-right: 20px !important;
  border-radius: 100%;
  background: var(--light);
  opacity: 0.4;
  cursor: pointer;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: var(--light) !important;
  cursor: pointer !important;
}

@media (max-width: 767px) {
  .promo {
    margin-bottom: 51px;
  }

  .promo__phablet-brake {
    display: none;
  }

  .swiper-container {
    /* margin: 0 15px; */
    min-width: 290px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 100%;
    background: var(--light);
    opacity: 0.4;
    cursor: pointer;
  }

  .swiper-slide {
    justify-content: center;
    min-height: 263px;
    padding: 61px 21px 60px 22px;
  }

  .swiper-wrapper {
    display: flex;
    text-align: center;
  }

  .promo__container {
    top: 33px;
    left: 24px;
    text-align: center;
    z-index: 100;
  }

  .promo__heading {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .promo__text {
    min-width: 243px;
    max-width: 90%;
    margin-bottom: 31px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
  }

  .promo__brake {
    display: none;
  }

  .swiper-pagination {
    /* display: none; */
  }

  .promo__button {
    //padding-bottom: 4px;
    min-width: 161px;
    min-height: 40px;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .promo {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 32px;
  }

  .promo__phablet-brake {
    display: block;
  }

  .promo__container {
    top: 192px;
    left: 49px;
  }

  .swiper-container {
    margin: 0px auto;
    /* width: 768px; */
  }

  .swiper-slide {
    justify-content: center;
    align-items: start;
    min-height: 700px;
    padding: 163px 21px 40px 91px;
  }

  .swiper-pagination {
    top: -82px;
  }

  .promo__heading {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
    text-align: left;
  }

  .promo__text {
    margin-bottom: 60px;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
  }

  .promo__button {
    min-width: 279px;
    min-height: 76px;
    font-size: 24px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .promo {
    margin: 0 auto;
    padding: 0 50px;
    margin-bottom: 69px;
  }

  .promo__phablet-brake {
    display: none;
  }

  .promo__container {
    /* top: 161px;
    left: 45px; */
  }

  .swiper-container {
    margin: 0px auto;
    min-width: 924px;
  }

  .swiper-slide {
    justify-content: center;
    align-items: start;
    min-height: 669px;
    padding: 165px 21px 40px 77px;
  }

  .swiper-pagination {
    top: -45px;
  }

  .promo__heading {
    margin-bottom: 13px;
    font-size: 60px;
    line-height: 73px;
    text-align: left;
  }

  .promo__text {
    margin-bottom: 59px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  .promo__button {
    min-width: 280px;
    min-height: 76px;
    font-size: 24px;
    font-weight: 700;
    line-height: 76px;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  .swiper-container {
    margin: 0px auto;
    margin-bottom: 89px;
    width: 1770px;
  }

  .promo__phablet-brake {
    display: none;
  }

  .promo__container {
    //position: absolute;
    top: 102px;
    left: 79px;
    z-index: 100;
  }

  .swiper-slide {
    justify-content: center;
    align-items: start;
    min-height: 620px;
    padding: 104px 80px 40px 80px;
  }

  .promo__heading {
    margin-bottom: 20px;
    text-align: left;
    font-size: 70px;
    line-height: 86px;
    letter-spacing: 0.2px;
  }

  .swiper-pagination {
    /* display: none; */
    top: -45px;
  }

  .promo__text {
    margin-bottom: 88px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  .promo__button {
    min-width: 279px;
    min-height: 78px;
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
  }
}
