.promo {
  height: fit-content;
  margin-bottom: 104px;
}

.promo__text {
  margin: 0;
}

.promo__wrap {
  position: relative;
  padding: 106px 78px 98px 78px;
}

.promo__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 19px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background: var(--light);
}

.promo__slide1 {
  background-image: url("../img/slide-1-desktop.jpg");
}

.promo__slide2 {
  background-image: url("../img/slide-2-desktop.jpg");
}

.promo__slide3 {
  background-image: url("../img/slide-3-desktop.jpg");
}

.promo__title,
.promo__text,
.btn_promo {
  position: relative;
  z-index: 2;
}

.promo__title {
  margin-bottom: 18px;
  margin-top: 0;
  max-width: 52%;
  width: 100%;
  font-size: 70px;
  font-weight: 800;
  line-height: 86px;
  letter-spacing: 0.3px;
  color: var(--light);
}

.promo__text {
  margin-bottom: 88px;
  max-width: 51%;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: var(--light);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 25px 38px;
  min-width: 175px;
  width: fit-content;
  min-height: 60px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--orange);
  cursor: pointer;
  transition: 0.3s background-color linear, 0.3s border-color linear,
    0.3s color linear;
}

.btn_orange:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.btn_orange:active {
  background-color: var(--red);
}

.btn_transparent:hover {
  background-color: var(--orange);
}

.btn_transparent:active {
  border-color: var(--red);
  background-color: var(--red);
}
.btn_white:hover {
  color: var(--light);
  background-color: #666;
}

.btn_white:active {
  border-color: #000;
  color: var(--light);
  background-color: #000;
}

.btn_promo {
  min-width: 280px;
  min-height: 80px;
  font-size: 23px;
}

@media (max-width: 1500px) {
  .promo {
    margin-bottom: 83px;
  }

  .promo__wrap {
    position: relative;
    padding: 164px 78px 159px 78px;
  }

  .promo__title {
    max-width: 100%;
    margin-bottom: 14px;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
  }

  .promo__text {
    max-width: 100%;
    margin-bottom: 58px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn_promo {
    min-width: 280px;
    min-height: 79px;
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .promo {
    margin-bottom: 84px;
  }

  .promo__wrap {
    padding: 162px 40px 160px 37px;
  }

  .promo__title {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
  }

  .promo__text {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn_promo {
    min-width: 281px;
    min-height: 78px;
    font-size: 23px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 19px;
  }
}

@media (max-width: 768px) {
  .promo__wrap {
    padding: 195px 10px 114px 49px;
  }

  .promo__title {
    margin-bottom: 8px;
    max-width: 100%;
  }

  .promo__text {
    max-width: 100%;
  }

  .promo__text {
    margin-bottom: 110px;
  }
}

@media (max-width: 575px) {
  .promo {
    margin-bottom: 62px;
  }

  .container-promo {
    padding: 0 15px;
  }

  .promo__wrap {
    padding: 61px 24px 30px 24px;
  }

  .promo__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .promo__text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
  }

  .btn {
    min-height: 40px;
    font-size: 12px;
  }

  .btn_promo {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 12px 26px;
    min-width: 162px;
    line-height: 14px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 4px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
